@charset "UTF-8";

.s_center{text-align: center}

.s_id{
	text-align: center;
	text-indent : -30px;
}

.s_err{
	text-align: center;
	color : red;
	margin: auto;
}

label{
    display: inline-block;
    text-align: right;
    width: 150px;
}