@charset "UTF-8";

.btn-square-shadow {
	display: inline-block;
	width: 150px;
	height: 90px;
	line-height:90px;
	padding: 0.5em 1em;
	margin: 15px;
	font-size: 25px;
	text-decoration: none;
	background: #668ad8; /*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

.btn-square-shadow:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
	border-bottom: none;
	display: inline-block;
}

.centermargin {
	position: relative;
	text-align: center;
}


.rightmargin {
	position: absolute;
	right: 0;
	bottom: 0;
}

