/*資料検索画面（004-002）*/
@charset "UTF-8";

.centermargin {
	position: relative;
	text-align: center;
}

.leftmargin {
	position: top;
	left: 0;
	bottom: 0;
}


.return {
  position: absolute;
  bottom: 40px;
  right: 50px;
} 
